<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    -->
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- leaflet -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <!-- main custom style -->
    <link rel="stylesheet" href="/static/custom.css">
    <script src="/static/custom.js"></script>
    <title>GreenMoon</title>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo"><p>Green Moon</p></div>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/research">Research</a></li>
            <li><a href="/dataprojects">Data Project</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login in</a></li>
            <li><a href="/sign">Sign up</a></li>
        </ul>
    </div>

    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
  
    <div class="footer">
        <p>&copy;&nbsp;Green Moon Team 2015</p>
    </div>
</div>
</body>
</html>
