{% extends "base.html" %}
{% block head %}
{{ super() }}
<link href="/static/css/projects.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/" target="_self">Green Moon</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/projects">Projects</a>
                </li>
            </ul>
        </div>

    </div>
    <!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
<section id="bikes">
    <div class="container">
        <div class="row">
            <h4>2014 Chicago Divvy Bike Data Analysis</h4>
            <iframe width="700" height="500" align="center" src="https://www.youtube.com/embed/1n2JvXtxGbc"></iframe>
            <h5>The primary goal of this analysis is to build a static map client that allows for an informative and convenient visualization of the bike usage data.</h5>
            <li><em>-1- Source code: <a href="https://github.com/bohe968/divvyBike">https://github.com/bohe968/divvyBike</a></em>
            <li><em>-2- Divvy data: <a href="https://www.divvybikes.com/datachallenge">https://www.divvybikes.com/datachallenge</a></em>
            <li><em>-3- Shape files: <a href="https://data.cityofchicago.org/browse?tags=shapefiles">https://data.cityofchicago.org/browse?tags=shapefiles</a></em>

        </div>
    </div>
</section>

{% endblock %}