{% extends "base.html" %}
{% block content %}

<iframe width="840" height="630" src="https://www.youtube.com/embed/1n2JvXtxGbc"></iframe>

<li><em>-1- Source code: <a href="https://github.com/bohe968/divvyBike">https://github.com/bohe968/divvyBike</a></em>
<li><em>-2- Divvy data: <a href="https://www.divvybikes.com/datachallenge">https://www.divvybikes.com/datachallenge</a></em>
<li><em>-3- Shape files: <a href="https://data.cityofchicago.org/browse?tags=shapefiles">https://data.cityofchicago.org/browse?tags=shapefiles</a></em>

-1- Source code: https://github.com/bohe968/divvyBike
-2- Divvy data: https://www.divvybikes.com/datachallenge
-3- Shape files: https://data.cityofchicago.org/browse?tags=shapefiles

{% endblock %}