{% extends "base.html" %}

{% block content %}

<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome to our Green Moon!</div>
            <div class="intro-heading">Nice to meet you</div>
            <a href="#services" class="page-scroll btn btn-success btn-success-l">Learn More >></a>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <h3 class="section-subheading text-muted">Built by <span class="key">LAMP</span>
                    (Linux+Apache+SQL+Python).</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="service-heading">Front End</h4>
                <p class="text-muted">Besides basic <span class="key">HTML5</span> ,
                    <span class="key">CSS</span> and <span class="key">JavaScript</span>,
                    we tweak our website with <span class="key">Bootstrap</span> ,
                    <span class="key">Font-awesome</span> and <span class="key">jQuery</span>
                    for a more attractive modern look.</p>
            </div>
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="service-heading">Web server</h4>
                <p class="text-muted">This website is hosted by <span class="key">Apache</span>
                    on a <span class="key">Linux</span> server,
                    and powered by <span class="key">Flask</span> web framework and various
                    <span class="key">Flask extensions</span>.</p>
            </div>
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="service-heading">Database</h4>
                <p class="text-muted">Both relational (<span class="key">PostgreSQL</span>) and non-relational
                    (<span class="key">MongoDB</span>) databases are used.
                    An abstract layer --<span class="key">SQLAlchemy</span>
                    is used to access the database conveniently.</p>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Projects</h2>
                <h3 class="section-subheading text-muted">You could find all our interesting projects here.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="/" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                        </div>
                    </div>
                    <img src="/static/img/portfolio/frontenduiux.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Front-end UI & UX</h4>
                    <p class="text-muted">Bootstrap, Font-awesome and jQuery</p>
                    <p class="text-muted">Led By Hao Xiong</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="/projects/blog" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                        </div>
                    </div>
                    <img src="/static/img/portfolio/blog.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Blog</h4>
                    <p class="text-muted">PostgreSQL, Flask and its extensions</p>
                    <p class="text-muted">Led By Nathan Ma, Bo He and Hao Xiong</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="/projects/license" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                        </div>
                    </div>
                    <img src="/static/img/portfolio/license.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Business License Analysis</h4>
                    <p class="text-muted">MongoDB, Leaflet, jQuery and Flask</p>
                    <p class="text-muted">Led By Bo He, Nathan Ma and Hao Xiong</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="/projects/bikes" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                        </div>
                    </div>
                    <img src="/static/img/portfolio/bike.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Divvy Bikes</h4>
                    <p class="text-muted">Data Mining & Visualization</p>
                    <p class="text-muted">By Bo He and Nanxi Bian</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="/projects/twitter" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                        </div>
                    </div>
                    <img src="/static/img/portfolio/twitter.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Twitter Networking</h4>
                    <p class="text-muted">Coming soon</p>
                    <p class="text-muted">Led By Nathan Ma, Bo He and Hao Xiong</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                        </div>
                    </div>
                    <img src="/static/img/portfolio/coming_soon.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Coming soon ...</h4>
                    <p class="text-muted">Coming soon ...</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Nice to meet you!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="/static/img/team/He.png" class="img-responsive img-circle" alt="">
                    <h4>Bo He</h4>
                    <p class="text-muted">University of Chicago</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="/static/img/team/Ma.png" class="img-responsive img-circle" alt="">
                    <h4>Nathan XiuFeng Ma</h4>
                    <p class="text-muted">University of Chicago</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="/static/img/team/bear.png" class="img-responsive img-circle" alt="">
                    <h4>Hao Xiong</h4>
                    <p class="text-muted">University of Illinois at Urbana-Champaign</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">We spin the Green Moon together!</p>
                <p class="large text-muted">Green Mooners listed in alphabetical order of last name.</p>
                <p class="large text-muted">See projects for contributions.</p>
            </div>
        </div>
    </div>
</section>

<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <a href="http://www.apache.org/">
                    <img src="/static/img/logos/apache.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://flask.pocoo.org/">
                    <img src="/static/img/logos/flask.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="#">
                    <img src="/static/img/logos/bootstrap.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="#">
                    <img src="/static/img/logos/postgresql.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="#">
                    <img src="/static/img/logos/mongodb.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="#">
                    <img src="/static/img/logos/leaflet.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Looking at Earth from a distance on Green Moon, we get a better view?</p>
            </div>
            <div class="col-lg-4">
                <p>On Green Moon, we develop new technologies to help understand the data-driven world.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-moon-o"></i> Green Moon
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Green Moon</h2>
            <p>We look forward to hearing from you, feel free to email us about anything!</p>
            <p><a href="mailto:#">greenmoonchicago@gmail.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="#" class="btn btn-default btn-lg">
                        <i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="#" class="btn btn-default btn-lg">
                        <i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="#" class="btn btn-default btn-lg">
                        <i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}
