{% extends "base.html" %}
{% block content %}

<body style="margin:0; padding:0;">
    <div id="map" style="width: 70%; height: 550px; margin:0 auto;"></div>
    <script type="text/javascript">
        var map = new L.Map('map', {
            // Some basic options to keep the map still and prevent
            // the user from zooming and such.
            scrollWheelZoom: true,
            touchZoom: true,
            doubleClickZoom: true,
            zoomControl: true,
            dragging: true
        });

        var center = new L.LatLng(41.8369, -87.6847);
        map.setView(center, 9);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);


    </script>
</body>
{% endblock %}
