{% extends "base.html" %}
{% block head %}
{{ super() }}
<link href="/static/css/projects.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/" target="_self">Green Moon</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/projects">Projects</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
<section id="license">
    <div class="container">
        <div class="row">
            <div id="map" style="width: 70%; height: 550px; margin:0 auto;"></div>
            <script type="text/javascript">

                // define a map with options
                var map = new L.Map('map', {
                    scrollWheelZoom: true,
                    touchZoom: true,
                    doubleClickZoom: true,
                    zoomControl: true,
                    dragging: true
                });

                // add base map tile with citation
                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

                // set view center to be the center of Chicago
                var center = new L.LatLng(41.8369, -87.6847);
                map.setView(center, 10);

                // create an empty featureLayer that will be loaded with geojson data
                var featureLayer = new L.GeoJSON();

                // set the style of featureLayer
                var defaultStyle = {
                    color: "#2262CC",
                    weight: 2,
                    opacity: 0.6,
                    fillOpacity: 0.1,
                    fillColor: "#2262CC"
                };

                // define a function to add style to featureLayer
                var onEachFeature = function(feature, layer) {
                    layer.setStyle(defaultStyle);
                };

                // add geojson data and style to featureLayer
                var featureLayer = L.geoJson(boundaries, {
                    onEachFeature: onEachFeature
                });

                // add the featureLayer to map (on top of base map tile)
                map.addLayer(featureLayer);
            </script>
            <hr>
            <h3>Search business license data by zip code.</h3>
            <form action="" method="post" name="login">
                {{ form.hidden_tag() }}
                <p>
                    Type in a zip code below:<br><br>
                    {{ form.inputZip(size=20) }}
                    {% for error in form.inputZip.errors %}
                    <span style="color: purple;">[{{ error }}]</span>
                    {% endfor %}<br>
                </p>
                <br>
                <p><input type="submit" value="lets go"></p>
            </form>
            <hr>
        </div>
    </div>
</section>

{% endblock %}