{% extends "base.html" %}
{% block head %}
{{ super() }}
<link href="/static/css/projects.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/" target="_self">Green Moon</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/projects">Projects</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
<section id="license">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8">
                <div id="map"><div id="zip">Default ZIP</div></div>
            </div>
            <div class="col-md-4">
                <p id="searchResult">Found Result</p>
                <p id="recommendedLicense">Recommended License</p>
            </div>
    </div>

    <script type="text/javascript" src="/static/js/license.js">
</section>

{% endblock %}
