{% extends "base.html" %}
{% block mybody %}

<body style="margin:0; padding:0;">
    <a href="/">Home</a><hr>
    <div id="map" style="width: 70%; height: 550px;"></div>
    <hr>
    <h3>Search business license data by zip code.</h3>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            Type in a zip code below:<br><br>
            {{ form.inputZip(size=20) }}
            {% for error in form.inputZip.errors %}
            <span style="color: purple;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <br>
        <p><input type="submit" value="lets go"></p>
    </form>
    <hr>
    <iframe width="840" height="630" src="https://www.youtube.com/embed/1n2JvXtxGbc"></iframe>
    <script type="text/javascript">
        var map = new L.Map('map', {
            // Some basic options to keep the map still and prevent
            // the user from zooming and such.
            scrollWheelZoom: true,
            touchZoom: true,
            doubleClickZoom: true,
            zoomControl: true,
            dragging: true
        });
    
        var stamenUrl = 'http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.png';
        var stamenAttribution = 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.';
        var stamenLayer = new L.TileLayer(stamenUrl, {maxZoom: 18, attribution: stamenAttribution});
    
        var center = new L.LatLng(41.8369, -87.6847);
        map.setView(center, 9);
    
        map.addLayer(stamenLayer);
    
        var featureLayer = new L.GeoJSON();
    
        var defaultStyle = {
            color: "#2262CC",
            weight: 2,
            opacity: 0.6,
            fillOpacity: 0.1,
            fillColor: "#2262CC"
        };
    
        var onEachFeature = function(feature, layer) {
    
            layer.setStyle(defaultStyle);
        };
    
    
        var featureLayer = L.geoJson(boundaries, {
    
            onEachFeature: onEachFeature
        });
    
        map.addLayer(featureLayer);
    
    </script>
</body>
{% endblock %}
