{% extends "base.html" %}

{% block content %}

    <h3>Search business license data by zip code.</h3>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            Type in a zip code below:<br><br>
            {{ form.inputZip(size=20) }}
            {% for error in form.inputZip.errors %}
                <span style="color: purple;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <br>
        <p><input type="submit" value="lets go"></p>
    </form>
{% endblock %}