.navbar-default {
    border-color: transparent;
    background-color: #333;

}

nav.navbar-fixed-top {
    padding: 5px 0 5px 0;
}

/*
.navbar-default .nav li a {
    color: black;
}
*/
#blog, #license, #bikes, #twitter {
    margin-top: 0;
    padding-top: 80px;
}

#blog h1,h2,h3,h4,h5,p {
    text-transform: none;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#twitter~footer{
    position: absolute;
    bottom: 0;
}
